.App {
  text-align: center;
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
  display: inline-block;
  align-items: center;
  align-content: center;
  text-align: center;
}

.nySkyline {
  background-image: url("./images/nyskyline.jpg");
  background-size: cover;
  height: 85vmin;
}

#first2Know {
  font-size: 5rem;
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
  transform: scaleY(1.3);
  line-height: 1;
  padding-top: 110px;
}

#introducing {
  font-size: 1.65rem;
  color: whitesmoke;
}

.text-center {
  text-align: center;
}

.first {
  color: #bb6125;
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
  transform: scaleY(1.3);
}

.firstText {
  color: #bb6125;
  font-size: 1.1rem;
  font-family: Helvetica, sans-serif;
}

.featured-images {
  width: 80%;
  margin: 10px auto 40px auto;
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

#ctaBtns {
  border-radius: 8px;
  width: "125px";
  height: "100px";
  color: whitesmoke;
  text-align: center;
  background-color: #bb6125;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
